Exercise 2: Selection and aggregation

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    "Name": ["Aman", "Saurav", "Karan", "shubham", "Abhishek", None, "sameer"],
    "Age": [22, 23, None, 22, 25, 24, 26],
    "Marks": [85, None, 88, 90, 56, 72, None],
    "Subject": ["Math", "Physics", "Math", "Chemistry", "Math", "Physics", "Chemistry"]
})

df

       Name   Age  Marks    Subject
0      Aman  22.0   85.0       Math
1    Saurav  23.0    NaN    Physics
2     Karan   NaN   88.0       Math
3   shubham  22.0   90.0  Chemistry
4  Abhishek  25.0   56.0       Math
5       NaN  24.0   72.0    Physics
6    sameer  26.0    NaN  Chemistry

In [5]:
view = df[["Name", "Marks"]]
view

       Name  Marks
0      Aman   85.0
1    Saurav    NaN
2     Karan   88.0
3   shubham   90.0
4  Abhishek   56.0
5       NaN   72.0
6    sameer    NaN