Exercise 4: Data Cleaning

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "Name": ["Aman", "Saurav", "Karan", "shubham", "Abhishek", None, "sameer"],
    "Age": [22, 23, None, 22, 25, 24, 26],
    "Marks": [85, None, 88, 90, 56, 72, None],
    "Subject": ["Math", "Physics", "Math", "Chemistry", "Math", "Physics", "Chemistry"]
})

df

       Name   Age  Marks    Subject
0      Aman  22.0   85.0       Math
1    Saurav  23.0    NaN    Physics
2     Karan   NaN   88.0       Math
3   shubham  22.0   90.0  Chemistry
4  Abhishek  25.0   56.0       Math
5       NaN  24.0   72.0    Physics
6    sameer  26.0    NaN  Chemistry

Missing values

In [3]:
df.isna().sum()

Name       1
Age        1
Marks      2
Subject    0
dtype: int64

In [4]:
df[df["Marks"].isna()]

     Name   Age  Marks    Subject
1  Saurav  23.0    NaN    Physics
6  sameer  26.0    NaN  Chemistry

In [7]:
cleaned_df = df.dropna()
print("Original shape:", df.shape)
print("Cleaned shape :", cleaned_df.shape)

Original shape: (7, 4)
Cleaned shape : (3, 4)