In [5]:
import pandas as pd
import numpy as np

Series in Pandas

In [6]:
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

SERIES FROM DICTIONARY

In [7]:
data = {
    "a": 10,
    "b": 20,
    "c": 30
}

s = pd.Series(data)

print(s)

a    10
b    20
c    30
dtype: int64

DataFrames in Pandas

In [8]:
data = {
    "Name": ["Aman", "krish", "karan"],
    "Age": [22, 23, 21],
    "Marks": [85, 90, 88]
}

In [9]:
print(data)

{'Name': ['Aman', 'krish', 'karan'], 'Age': [22, 23, 21], 'Marks': [85, 90, 88]}

In [10]:
type(data)

dict

In [11]:
marks = pd.DataFrame(data)

In [12]:
print(marks)

    Name  Age  Marks
0   Aman   22     85
1  krish   23     90
2  karan   21     88